/*** MAIN ***/
body{
    margin: 0;
    direction: rtl;
    font-family: 'Heebo';
    margin-top: 3rem;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.7em;
}

h1, p {
    margin: 0;
    color: #19063d;
}

/*** HEADER ***/
.header{
    background-color: #e9f5fe;
    min-height: 60vh;
    padding: 30px 50px;

}

.navbar {
    display: flex;
    justify-content: space-between;
}


/* Navigation */
ul.main_nav {
    list-style-type: none;
    display: flex;
    padding: 0 10px;
}

ul.main_nav li {
    padding: 0 20px;
}

ul.main_nav li a{
    color: #312b63;
}

ul.main_nav li a:hover{
    color: red;
    font-weight: 600;
    transition: 0.4s all;
    border-bottom: 2px red solid;
}

ul.main_nav li a:focus{
    color: gray;
    font-weight: 600;

}

/* Main banner */
.main_banner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5em;
}

.banner_text {
    max-width: 40%;
}


.banner_text h1 {
    font-size: 6em;
    font-family: 'Suez One', serif;
    line-height: 1.1em;
}


.banner_text h2 {
    font-size: 1em;
    font-family: 'Suez One', serif;
    line-height: 1.1em;
}


.banner_text p {
    margin-top: 1em;
}


/* Form */
.banner_form {
    padding: 3em 3em;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 19px 70px rgb(0 0 0 / 10%);
    margin-left: -500px;
}

form.ConnectIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.ConnectIndex label{
    display: flex;
    flex-direction: column;
    margin: 5px auto;
}

form.ConnectIndex input {
    height: 37px;
    min-width: 240px;
    border-radius: 44px;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
}

form.ConnectIndex button {
    height: 40px;
    margin-top: 15px;
    border-radius: 50px;
    border: 0;
    background: #703edb;
    color: white;
    font-size: 1.1em;
    font-family: 'Heebo';
    padding: 0 25px;
    box-shadow: 0 10px 18px rgb(0 0 0 / 25%);
    transition: 0.4s all;
}

form.ConnectIndex button:hover {
    background: #f0c816;
    box-shadow: 0 0px 18px rgb(0 0 0 / 25%);
    transition: 0.4s all;
}
/*** END HEADER ***/
