{% extends "layout.html" %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">היי ובואו להכיר אותנו</li>
    </ol>
  </nav>
<div class="content-section">
    <legend class="border-bottom mb-4">קצת על המתכנתים שלנו</legend>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="uploads/pngegg (1).png" class="card-img-top" alt=""/>
            <div class="card-body">
              <h5 class="card-title">טל חיימוביץ</h5>
              <p class="card-text">סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון</p>
              <p class="card-text"> רקע תכנותי </p>
              <p class="card-text"> C, CPP, PYTHON, ASSEMBLY, flask, html, css </p>
            </div>
            <legend class="border-bottom mb-4"></legend>
            <a class="nav-item nav-link" href="mailto:talha13@ac.sce.ac.il">צור קשר</a>
            <div class="card-footer">
                <small class="text-muted">age: 27</small>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="uploads/pngegg (4).png" class="card-img-top" alt=""/>
            <div class="card-body">
                <h5 class="card-title">מור מרקרבס</h5>
                <p class="card-text">סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון</p>
                <p class="card-text"> רקע תכנותי </p>
                <p class="card-text"> C, CPP, PYTHON, ASSEMBLY, flask, html, css </p>
              </div>
              <legend class="border-bottom mb-4"></legend>
            <a class="nav-item nav-link" href="mailto:morme@ac.sce.ac.il">צור קשר</a>
              <div class="card-footer">
                  <small class="text-muted">age: 26</small>
                </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="uploads/pngegg.png" class="card-img-top" alt=""/>
            <div class="card-body">
                <h5 class="card-title">אורטל נוסיק</h5>
                <p class="card-text">סטודנטית שנה ב' להנדסת תוכנה במכללת סמי שמעון</p>
                <p class="card-text"> רקע תכנותי </p>
                <p class="card-text"> C, CPP, PYTHON, ASSEMBLY, flask, html, css </p>
              </div>
              <legend class="border-bottom mb-4"></legend>
            <a class="nav-item nav-link" href="mailto:ortalno@ac.sce.ac.il">צור קשר</a>
              <div class="card-footer">
                  <small class="text-muted">age: 24</small>
                </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="uploads/pngegg (3).png" class="card-img-top" alt=""/>
            <div class="card-body">
                <h5 class="card-title">אסיף קדושה</h5>
                <p class="card-text">סטודנט שנה ב' להנדסת תוכנה במכללת סמי שמעון</p>
                <p class="card-text"> רקע תכנותי </p>
                <p class="card-text"> C, CPP, PYTHON, ASSEMBLY, flask, html, css </p>
              </div>
              <legend class="border-bottom mb-4"></legend>
            <a class="nav-item nav-link" href="mailto:asifer@ac.sce.ac.il">צור קשר</a>
              <div class="card-footer">
                  <small class="text-muted">age: 24</small>
                </div>
          </div>
        </div>
      </div>
      <br>
      <legend class="border-bottom mb-4">גורמים מעורבים</legend>
      <div class="card mb-3" style="max-width: 1200px;">
        <div class="row g-0">
          <div class="col-md-3">
            <img src="uploads/unnamed.png" class="card-img-top" alt=""/>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">SCE</h5>
              <p class="card-text">המכללה האקדמאית על שם סמי שמעון</p>
              <a class="nav-item nav-link" href="https://www.sce.ac.il">לאתר המכללה</a> 
              <p class="card-text"><small class="text-muted">מאז 1995</small></p>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    {% endblock content %}