<div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                <img src="uploads/{{ post.image }}" class="card-img-top" alt=""/>
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">{{ post.title }}</h5>
    
                                  <p class="card-text">{{ post.content }}</p>
                                  
                                  <p class="card-text"><small>posted by - {{ post.user.name }}</small></p>
                                    <form action="/delete_post/{{ post.id }}" method="POST" >
                                        <p class="card-text"><small class="text-muted">Last updated {{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</small> 
                                        <button {% if post.user != current_user %}disabled{%endif%} type="submit" class="btn btn-primary">
                                            Delete
                                        </button>
                                    </form>
                                </p>
                                </div>
                                
                              </div>
                            </div>
                          </div>