{% extends "layout.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">כאן תוכלו להתעדכן בכל מה שחדש אצל האגודות ועמותות
                שלנו
            </li>
        </ol>
    </nav>
    <!-- Button trigger modal -->
    {% if current_user.is_asos %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEventsAndTipsPostModal">
            Add Events/Tips
        </button>
    {% endif %}
    {% with modalId="createEventsAndTipsPostModal", form=create_post_form, modalTitle="Add Event/Tip" %}
        {% include 'modals/create_post_modal.html' %}
    {% endwith %}
    <div class="container">
        <legend class="border-bottom mb-4"></legend>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-top: 20px">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="all-posts-tab" data-toggle="pill" href="#all-posts" href="#tips-posts"
                   role="tab"
                   aria-controls="all-posts" aria-selected="true">All</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="events-posts-tab" data-toggle="pill" href="#events-posts" role="tab"
                   aria-controls="events-posts" aria-selected="true">Events</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tips-posts-tab" data-toggle="pill" href="#tips-posts" role="tab"
                   aria-controls="tips-posts" aria-selected="false">Tips</a>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="all-posts" role="tabpanel" aria-labelledby="all-posts-tab">
                <div class="row">
                    {% for post in asos_events_posts %}
                        {% with post=post %}
                            {% include 'ad_card.html' %}
                        {% endwith %}
                    {% endfor %}
                    {% for post in asos_tips_posts %}
                        {% with post=post %}
                            {% include 'ad_card.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade show" id="events-posts" role="tabpanel" aria-labelledby="events-posts-tab">
                <div class="row">
                    {% for post in asos_events_posts %}
                        {% with post=post %}
                            {% include 'ad_card.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="tips-posts" role="tabpanel" aria-labelledby="tips-posts-tab">
                <div class="row">
                    {% for post in asos_tips_posts %}
                        {% with post=post %}
                            {% include 'ad_card.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>
{% endblock content %}