{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <legend class="border-bottom mb-4">Come and get your pet!</legend>
            <br>
            <p>Please login to continue.</p>
            <div class="form-group">
                <a class="btn btn-outline-info" href="{{ url_for('login') }}">Login</a>
                <br>
                <br>
                <p>Dont got a user? Sign up now!</p>
                <a class="btn btn-outline-info" href="{{ url_for('register') }}">Sign-Up</a>
            </div>
        </form>
    </div>
{% endblock content %}
