{% extends "layout.html" %}
{% block content %}
<!-- Button trigger modal -->
{% if not current_user.is_bus %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPostModal">
    Create post
</button>
{% endif %}

{% if current_user.is_bus %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createProductPostModal">
    Create product
</button>
{% endif %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPetCoinModal">
    Give PetCoin
</button>

<!-- Modal -->
<div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.title.label(class="form-control-label") }}
                            {% if form.title.errors %}
                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.title(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.content.label(class="form-control-label") }}
                            {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.content(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.image.label(class="form-control-label") }}

                            {% if form.image.errors %}
                            {{ form.image(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.image.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.image(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.type.label(class="form-control-label") }}

                            {% if form.type.errors %}
                            {{ form.type(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.type.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.type(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    {{ form.submit(class="btn btn-outline-info") }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createProductPostModal" tabindex="-1" aria-labelledby="createProductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.title.label(class="form-control-label") }}
                            {% if form.title.errors %}
                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.title(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.content.label(class="form-control-label") }}
                            {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.content(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.image.label(class="form-control-label") }}

                            {% if form.image.errors %}
                            {{ form.image(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.image.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.image(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.price.label(class="form-control-label") }}

                            {% if form.price.errors %}
                            {{ form.price(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.price(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>


                        <div class="form-group">
                            {{ form.type.label(class="form-control-label") }}

                            {% if form.type.errors %}
                            {{ form.type(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.type.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.type(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>


                    </fieldset>
                    {{ form.submit(class="btn btn-outline-info") }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- pet coin Modal -->
<div class="modal fade" id="createPetCoinModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Give Petoin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-top: 20px">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="all-posts-tab" data-toggle="pill" href="#all-posts" role="tab"
                aria-controls="all-posts" aria-selected="true">All</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="adopt-posts-tab" data-toggle="pill" href="#adopt-posts" role="tab"
                aria-controls="adopt-posts" aria-selected="true">Adopt</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="foster-posts-tab" data-toggle="pill" href="#foster-posts" role="tab"
                aria-controls="foster-posts" aria-selected="false">Foster</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="product-posts-tab" data-toggle="pill" href="#product-posts" role="tab"
                aria-controls="product-posts" aria-selected="false">Products</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="discount-posts-tab" data-toggle="pill" href="#discount-posts" role="tab"
                aria-controls="discount-posts" aria-selected="false">Discount</a>
        </li>



    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="all-posts" role="tabpanel" aria-labelledby="all-posts-tab">
            <div class="row">
                {% for post in all_posts %}
                {% with post=post %}
                {% include 'post_card.html' %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade show" id="adopt-posts" role="tabpanel" aria-labelledby="adopt-posts-tab">
            <div class="row">
                {% for post in adopt_posts %}
                {% with post=post %}
                {% include 'post_card.html' %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="foster-posts" role="tabpanel" aria-labelledby="foster-posts-tab">
            <div class="row">
                {% for post in foster_posts %}
                {% with post=post %}
                {% include 'post_card.html' %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="product-posts" role="tabpanel" aria-labelledby="product-posts-tab">
            <div class="row">
                {% for post in product_posts %}
                {% with post=post %}
                {% include 'post_card.html' %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="discount-posts" role="tabpanel" aria-labelledby="discount-posts-tab">
            <div class="row">
                {% for post in discount_posts %}
                {% with post=post %}
                {% include 'post_card.html' %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}