<div class="card" style="width: 15rem; margin: 10px">
    <img src="uploads/{{ post.image }}" class="card-img-top" alt=""/>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        {% if post.is_product %}
            <p class="card-title">{{ post.price }} ils</p>
        {% endif %}
        {% if post.is_discount %}
            <p class="card-title", style="background-color: crimson",>{{ post.price }} ils</p>
        {% endif %}
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text">posted by - {{ post.user.name }}</p>
        <p class="card-text"><small class="text-muted">{{ post.date_posted }}</small></p>
        <form action="/delete_post/{{ post.id }}" method="POST">
            <input type="submit" value="Delete"/>
        </form>
    </div>
</div>