{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
      <legend class="border-bottom mb-4">הרשמה</legend>
      <p>בחר משתמש המזוהה איתך</p>
        <br>
        
        <a class="btn btn-outline-info" href="{{ url_for('registeruser') }}">משתמש רגיל</a>
        <br>
        <br>
        <a class="btn btn-outline-info" href="{{ url_for('registerbus') }}">בעל עסק</a>
        <br>
        <br>
        <a class="btn btn-outline-info" href="{{ url_for('registerasos') }}">אגודה\עמותה</a>
      
    </form>
</div>  
{% endblock content %}
