{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
      <legend class="border-bottom mb-4">Sign Up</legend>
      <p>Please choose user type</p>
        <br>
        
        <a class="btn btn-outline-info" href="{{ url_for('registeruser') }}">Regular User </a>
        <br>
        <br>
        <a class="btn btn-outline-info" href="{{ url_for('registerbus') }}">Business User </a>
        <br>
        <br>
        <a class="btn btn-outline-info" href="{{ url_for('registerasos') }}">Association User</a>
      
    </form>
</div>  
{% endblock content %}
