{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
      <legend class="border-bottom mb-4">Register</legend>
      <p>Choose profile</p>
        <br>
        <a class="btn btn-outline-info" href="{{ url_for('registeruser') }}">User</a>
        <br>
        <br>
        <a class="btn btn-outline-info" href="{{ url_for('registerbus') }}">Business owner</a>
        <br>
        <br>
        <a class="btn btn-outline-info" href="{{ url_for('registerasos') }}">Associations</a>
      
    </form>
</div>  
{% endblock content %}
