{% extends "layout.html" %}
{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">כאן תוכלו להנות ממגוון דוחות</li>
        </ol>
    </nav>
     <div class="content-section">

    <div class="container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-top: 20px">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="users-tab" data-toggle="pill" href="#users" role="tab"
                   aria-controls="users" aria-selected="true">Users</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="buisnesses-tab" data-toggle="pill" href="#buisnesses" role="tab"
                   aria-controls="all-posts" aria-selected="true">Buisnesses</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="asos-tab" data-toggle="pill" href="#asos" role="tab"
                   aria-controls="all-posts" aria-selected="true">Association</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="post-reports-tab" data-toggle="pill" href="#post_reports" role="tab"
                   aria-controls="all-posts" aria-selected="true">Post reports</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="stats-reports-tab" data-toggle="pill" href="#stats_reports" role="tab"
                   aria-controls="all-posts" aria-selected="true">Stats</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                {% with columns=[{'name': 'id', 'title': 'ID'},
                                 {'name': 'name', 'title': 'Name'},
                                 {'name': 'email', 'title': 'Email'},
                                 {'name': 'pet_coin', 'title': 'PetCoin'},
                                 {'name': 'address', 'title': 'Address'},
                                 {'name': 'bus_id', 'title': 'Bus ID'},
                                 {'name': 'amount_posts', 'title': 'Amount posts'},
                                 ], rows=users %}
                    {% include 'table.html' %}
                {% endwith %}
            </div>
            <div class="tab-pane fade show" id="post_reports" role="tabpanel" aria-labelledby="post-reports-tab">
                {% with columns=[{'name': 'id', 'title': 'ID'},
                                 {'name': 'name', 'title': 'Name'},
                                 {'name': 'amount_reports_created', 'title': 'Amount reports created'},
                                 {'name': 'amount_reported', 'title': 'Amount reported'}], rows=users %}
                    {% include 'table.html' %}
                {% endwith %}
            </div>
            <div class="tab-pane fade show" id="stats_reports" role="tabpanel" aria-labelledby="stats-reports-tab">
                <div>
                    Amount posts: {{ amount_posts }}
                    <br>
                    Amount users: {{ amount_users }}
                    <br>
                    Amount pet coins: {{ amount_pet_coint }}
                </div>
            </div>
            <div class="tab-pane fade show" id="buisnesses" role="tabpanel" aria-labelledby="post-reports-tab">
                {% with columns=[{'name': 'id', 'title': 'ID'},
                                 {'name': 'name', 'title': 'Name'},
                                 {'name': 'email', 'title': 'Email'},
                                 {'name': 'bus_id', 'title': 'Bus ID'},
                                 {'name': 'amount_posts', 'title': 'Amount posts'},
                                 ], rows=buisnesses %}
                    {% include 'table.html' %}
                {% endwith %}
            </div>
            <div class="tab-pane fade show" id="asos" role="tabpanel" aria-labelledby="asos-tab">
                {% with columns=[{'name': 'id', 'title': 'ID'},
                                 {'name': 'name', 'title': 'Name'},
                                 {'name': 'email', 'title': 'Email'},
                                 {'name': 'address', 'title': 'Address'},
                                 {'name': 'amount_posts', 'title': 'Amount posts'},
                                 ], rows=asos %}
                    {% include 'table.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
