<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="css/index.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Suez+One&display=swap" rel="stylesheet">

    <!-- title -->
    <title>GetPet - welcome to the zoo</title>
</head>

<body>
<!-- Header -->
    <section class="header">
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" alt=""/>
            </div>

            <ul class="main_nav">
                <li><a href="#">דף אימוץ</a></li>
                <li><a href="#">דף אומנה</a></li>
                <li><a href="#">דף עסקים</a></li>
                <li><a href="#">דף עמותות\אגודות</a></li>
                <li><a href="#">הדף שלי</a></li>
            </ul>
        </div>

        <div class="main_banner">
            <div class="banner_text">
                <h1>רוצים חיות אז תבואו לפה</h1>
                <p>
                    משהו קטן ונוסף על חיות, אולי הטבה, אולי לא. אפשר אפילו לרשום יותר ולראות איך זה הופך להיות שתי שורות כי זה נראה ככה יותר טוב.
                </p>
            </div>

            <div class="banner_form">
                <h1>מה ניש, צריך להתחבר לפני</h1>
                <form class="ConnectIndex" action="login" method="post">
                    <label for="input">שם פרטי<input type="firstname"></label>
                    <label for="input">שם משפחה<input type="password"></label>
                    <button type="submit"><a href="login.html"></a>שלח אותי ></button>
                    
            
                </form>
                <form class="ConnectIndex" action="register" method=post>
                    <h5>עדיין לא רשום?! להרשמה לחץ כאן</h5>

                    <button type="submit">אני חדש ></button>
                </form>
                

            </div>
        </div>
    </section>
<!-- Header -->







</body>
</html>