<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="css/index.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Suez+One&display=swap" rel="stylesheet">

    <!-- title -->
    <title>GetPet - new business</title>
</head>
<body>
    <form class="ConnectIndex" method="POST",align="center" >
        {% if exists %}
        <p style="color:red">user already exists</p>
        {% endif %}
        <div class="container">
          <br>
          <h1>הרשמת משתמש עסקי:</h1>
          <p>אנא מלא פרטים:</p>
          <hr>

        <div>
          <label for="email"><b>אימייל</b></label>
            <input type="email" placeholder="הכנס אימייל" name="email" id="email" required>
        </div>

        <div>
          <label for="psw"><b>סיסמה</b></label>
            <input type="password" placeholder="הכנס הכנס סיסמא" name="psw" id="psw" required>
        </div>

        <div>
          <label for="psw-repeat"><b>אישור סיסמא</b></label>
            <input type="password" placeholder="הכנס אישור סיסמה" name="psw-repeat" id="psw-repeat" required>
        </div>

        <div>
          <label for="BN"><b>שם העסק</b></label>
            <input type="text" placeholder="הכנס שם העסק" name="BN" id="BN" required>
        </div>

        <div>
          <label for="bid"><b>ח.פ</b></label>
            <input type="text" placeholder="הכנס ח.פ" name="bid" id="bid" required>
        </div>
      
          
            <button type="submit" class="signupbtn">הרשם</button>
          </div>
        </div>
      </form>

    
</body>
</html>