
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="css/index.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Suez+One&display=swap" rel="stylesheet">



    <title>Register page</title>
</head>

<body>
    <!-- Header -->
    <section class="header">
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" alt=""/>
            </div>

            <ul class="main_nav">
                <li><a href="#">דף אימוץ</a></li>
                <li><a href="#">דף אומנה</a></li>
                <li><a href="#">דף עסקים</a></li>
                <li><a href="#">דף עמותות\אגודות</a></li>
                <li><a href="#">הדף שלי</a></li>
            </ul>
        </div>

        <div class="banner_form", align="middle">
    <h1>אנא בחר בתור מי אתה מעוניין להרשם:</h1>
    
    <br>
    <form class="ConnectIndex" action="registeruser" method="post">
        <button type="submit">משתמש רגיל ></button>
    </form>

    <br>
    <form class="ConnectIndex" action="reg_asos" method="post">
        <button type="submit">עמותה></button>
    </form>
    
    <br>

    <form class="ConnectIndex" action="registerbussines" method="post">
        <button type="submit">בעל עסק></button>
    </form>
    </ol>
</div>
</body>
</html>